body{
    background-color: #38B3BF;
    position: absolute;
width: 878px;
height: 126px;
left: calc(50% - 878px/2);
top: 84px;

}
.box h1{
position: absolute;
width: 468px;
height: 82px;
left: calc(50% - 468px/2 - 1px);
top: 4px;

font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 82px;
/* identical to box height */

text-align: center;

color: #F3FFE2;
}
.container overflow-hidden{
    border: 1px solid #F3FFE2;
box-sizing: border-box;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.05));

}
