body{
    background-color: #38B3BF;
    position: absolute;
width: 921px;
height: 194px;
left: calc(50% - 921px/2 + 0.5px);
top: 78px;

}
.box h1{
    position: absolute;
    width: 485px;
    height: 99px;
    left: calc(50% - 485px/2);
    top: 4px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    
    color: #F3FFE2;
    
}
.box p{
    position: absolute;
height: 65.64px;
left: 0%;
right: 0%;
bottom: -0.16px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 39px;
text-align: center;

color: #F3FFE2;

}
.image {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 200px;
    top: 52px;
    border-radius: 50%;
}